body{
  padding-top: 62px;
  background-color: #e6d7be;
}
.first-block{
    display: flex;
    flex-direction: row;

}
.first-img{
    height: 340px;
    width: 320px;
    display: flex;
    justify-content: center;
    margin-left:10px;
    
    
}
.entrance-img{
    width:340px;
    padding-right: 0px;
    border: solid  #bdaa8f;
    border-radius: 7px;
    border-width: 1px;
}


.bkt-description{
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
       
}
.description-1{
    height: 100px;
    width: 600px;
    background-color:  #bdaa8f;
 
}
.description-1 p{
    
    font-size: 16px;
    font-weight: bold;
    
}
.p-1{
    padding-left: 70px;
    width: 420px
}
.p-2{
    padding-left: 90px;
}



.description-2{
    flex: 1;
}
.p-3{
    padding-left: 10px;
}
.p-4{
    padding-left: 123px;
}



.right-imgs{

    height: 400px;
    width: 524px;
    display: flex;
}



.layout{
    display: flex;
    flex-direction:row;
}
.left-layout{
    display: flex;
    flex-direction: column;
    width:200px;
    justify-content: center;
    align-items: center;
    
}
.welcome{
   margin-bottom: 10px;
   ;
}
.welcome-img{
    width: 100px;
    border-radius: 50px;
    border: solid #bdaa8f;
    border-width: 1px;
}
.reception{
    margin-top: 0;
    margin-bottom: 10px;
}
.reception-img{
    width: 150px;
    border-radius: 10px;
}
.towel{
    margin-top: 0px;
}
.towel-img{
    width: 100px;
    border-radius: 50px;
    border: solid #bdaa8f;
    border-width: 1px;
}
.right-layout{

    width: 315px;
}
.right-img{
    width: 317px ;
    height: 399px;
    border: solid #bdaa8f;
    border-radius: 5px;
    border-width: 1px;
}